---
import { MarkdownInstance } from "astro";
import Page from "../../layouts/Page/Page.astro";

export async function getStaticPaths() {
  const entries = await Astro.glob("../../content/blog/*.md");

  return entries.map(entry => ({
    params: {
      slug: entry.frontmatter.slug,
    },
    props: {
      entry,
    },
  }))
}

const entry: MarkdownInstance<Record<string, any>> = Astro.props.entry;
const { Content } = entry;
---
<Page title="Durrant.tech">
  <article>
    <h1>{entry.frontmatter.title}</h1>
    <p class="subtitle">{entry.frontmatter.subtitle}</p>
    <Content />
  </article>
</Page>
<style>
  article {
    background-color: #fff;
    color: #000;
    padding-block: 2rem;
    padding-inline: 4rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }

  .subtitle {
    font-family: "Courier Prime", monospace;
  }

  .subtitle::before {
    content: "> ";
  }
</style>
