---
import Page from '../layouts/Page/Page.astro';

const entries = await Astro.glob("../content/blog/*.md");
---

<Page title="Durrant.tech">
	<h1>Durrant.tech</h1>
	<h2>Blog</h2>
	<ul class="blog-list">
		{entries.map(entry => (
			<li>
				<p class="blog-entry-title">
					<a href={`/blog/${entry.frontmatter.slug}`}>
						{entry.frontmatter.title}
					</a>
				</p>
				<p class="blog-entry-subtitle">
					{entry.frontmatter.subtitle}
				</p>
			</li>
		))}
	</ul>
	<h2>Links</h2>
	<ul>
		<li>
			<a href="/archive">WordPress Archive</a>
		</li>
		<li>
			<a href="https://gitlab.com/jddurrant/durrant.tech">Source code</a>
		</li>
	</ul>
</Page>
<style>
	ul {
		font-family: "Courier Prime", monospace;
	}

	.blog-list {
		list-style-type: none;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.blog-list li {
		background-color: #fff;
		color: #000;
		padding-block: 0.5rem;
		padding-inline: 2rem;
		border-radius: 0.5rem;
	}

	.blog-list li a {
		color: #080;
	}
</style>
