@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  src: url("/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  src: url("/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.ttf");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  src: url("/fonts/CourierPrime/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  src: url("/fonts/CourierPrime/CourierPrime-Bold.ttf");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/CourierPrime/CourierPrime-Italic.ttf");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/CourierPrime/CourierPrime-BoldItalic.ttf");
}
