---
import "./fonts.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;

const { Content: FooterContent } = await import("./footer.md");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					<a href="/">Durrant.tech</a>
					<a href="/blog?tag=tech">Technology</a>
					<a href="/blog?tag=opinions">Opinions</a>
					<a href="/about">About</a>
				</nav>
			</header>
			<main>
				<slot />
			</main>
			<footer>
				<FooterContent />
			</footer>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Atkinson Hyperlegible", sans-serif;
		color-scheme: dark;
	}

	.wrapper {
		max-width: 720px;
		margin: auto;
	}

	header {
		font-family: "Courier Prime", monospace;
	}

	nav {
		padding-block: 1rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}

	footer {
		font-family: "Courier Prime", monospace;
		font-size: 0.875rem;
		text-align: center;
		text-wrap: balance;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Courier Prime", monospace;
		font-weight: 400;
	}

	a {
		color: #0f0;
	}

	article p, article li {
		max-width: 50ch;
	}

	article a {
		color: #080;
	}
</style>
<style>
	body {
		margin: 0;
	}
</style>
